.title {
  text-align: center;
  font-size: 64px;
  text-shadow: 2px 2px 0px rgba(255, 255, 255, 1);
  margin-top: 25vh;
}

.control {
  display: flex;
  max-width: 500px;
  margin: 0 auto;
  justify-content: space-around;
}