@import "../../../styles/settings.scss";

.button {
  background-color: transparent;
  padding: 12px;
  font-size: 15px;
  color: $global-text-color;
  border: 2px solid white;
  transition: all 1s;
  text-decoration: none;
  text-transform: uppercase;
  font-family: $globalFont;

  &:hover {
    cursor: pointer;
    background-color: $frenchSkyBlue;
    color: white;
    box-shadow: 5px 5px 14px -3px rgba(255,255,255,0.38);
  }
}

.link {
  text-decoration: none;
  text-transform: uppercase;
  color: $global-text-color;
  transition: all 1s;

  &:hover {
    cursor: pointer;
    color: white;
  }

  &.active {
    color: white;
  }
}

