@import "../../../styles/settings.scss";

.label {
  padding: 7px;
}

.input {
  padding: 7px;
  font-family: $globalFont;
  border: none;
  transition: all 1s;

  &:focus {
    outline: none;
    box-shadow: 0px 0px 24px 3px rgba(112,161,255,0.76);
  }
}