@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

/* fonts */
$globalFont: 'Zen Dots', cursive;

/* layout settings */
$container-width: 1080px;

/* Colors Palette */
$blueNights: #353b48;
$frenchSkyBlue: #70a1ff;


/* global settings */
$global-bg-color: $blueNights;
$global-text-color: $frenchSkyBlue;

/* Board settings */
$border-color: $frenchSkyBlue;