.table {
  text-align: center;
  margin: 0 auto;
  border-collapse: collapse;
}

.header {
  td {
    padding: 0 25px 2px;
    border-bottom: 1px solid white;
  }
}

.body {
  tr {
    transition: 0.5s all;

    &:hover {
      cursor: pointer;
      background-color: white;
    }
  }

  td {
    padding: 10px 0;
  }
}